@tailwind base;

/* * {
  @apply scrollbar-thin scrollbar-thumb-sky-500 scrollbar-track-gray-100  dark:scrollbar-thumb-sky-700 dark:scrollbar-track-gray-800;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  scrollbar-width: thin;
  scrollbar-color: var(--color-sky-500) var(--color-slate-50);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #0a192f;
}
::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  @apply font-poppins bg-slate-50 dark:bg-[#141C2F] text-base text-slate-600 dark:text-slate-300 leading-6 w-full min-w-[320px] scroll-smooth p-5 md:p-7;
}

strong {
  @apply text-sky-500;
}
