@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  @apply font-poppins bg-slate-50 dark:bg-[#141C2F] text-base text-slate-600 dark:text-slate-300 leading-6 w-full min-w-[320px] scroll-smooth p-5 md:p-7;
}
